---
import { Image } from "astro:assets";
import AgendaHeader from "../molecules/AgendaHeader.astro";
const sectionStyles = `landing-section bg-bg-gray min-h-screen w-screen flex items-center justify-center pt-24 px-8 relative overflow-y-hidden`;
---

<section
  class={sectionStyles}
  data-header-color={`bg-gray`}
  id="porque-asistir"
>
  <div
    class="flex flex-col w-full items-center justify-center h-full space-y-8 z-10 relative bg-slate-300"
  >
    <AgendaHeader />
  </div>
</section>
