  ---
  import { Image } from "astro:assets";
  import Button from "../Button.astro";

  //const sectionStyles = `landing-section bg-purple h-screen w-screen text-center overflow-hidden overflow-y-hidden relative`;
  const sectionStyles = `landing-section bg-bg-white w-screen flex items-center justify-center pt-16 px-8 relative`;
  ---

  
<!-- <section class="relative w-full overflow-hidden py-10 px-6 md:px-12 min-h-[450px] bg-white">-->

<section class="relative w-full overflow-hidden py-10 px-6 md:px-12 min-h-[450px] bg-white
          md:bg-[url('/bg_concurso_2026.svg')] md:bg-no-repeat 
          md:bg-[length:auto_100%] md:bg-right">

  <div class="hidden md:block">
    <h2 class="text-3xl font-bold text-gray-800 mb-4">Concurso de Trabajos Libres:</h2>

    <div class="flex flex-col items-start gap-2 mb-6">
      <div class="bg-gray-100 rounded-full px-6 py-1 w-fit">
        <span class="bg-gradient-concurso bg-clip-text text-transparent font-extrabold italic text-3xl md:text-4xl">Prevención de escaras</span>
      </div>
      <div class="bg-gray-100 rounded-full px-6 py-1 w-fit">
        <span class="bg-gradient-concurso bg-clip-text text-transparent font-extrabold italic text-3xl md:text-4xl">e infecciones de heridas</span>
      </div>  
    </div>

    <div class="flex flex-row gap-4 w-full justify-start items-center ml-4">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7eKjd95ZBHlT3GroRk2lhezZS7Y_STZHOnA5Q8VNDtYKHYg/viewform?usp=sharing&ouid=108928240711952588233" 
         style="background: #0AB1E5; color: #000; display: flex; align-items: center; justify-content: center; width: 200px; height: 32px; border-radius: 32px; text-decoration: none; font-weight: 400; font-size: 16px; transition: all 0.3s ease;"
         onmouseover="this.style.background='#1D5168'; this.style.color='#fff'; this.style.fontWeight='900'; this.style.transform='scale(1.03)';"
         onmouseout="this.style.background='#0AB1E5'; this.style.color='#000'; this.style.fontWeight='400'; this.style.transform='scale(1)';">Registro concurso</a>
      
      <a href="https://docs.google.com/document/d/1SnlxwnpopZM9UVwbhURhBPzo0z690vXG/edit" 
         style="background: #D9D9D9; color: #000; display: flex; align-items: center; justify-content: center; width: 200px; height: 32px; border-radius: 32px; text-decoration: none; font-weight: 400; font-size: 16px; transition: all 0.3s ease;"
         onmouseover="this.style.background='#D9D9D9'; this.style.color='#0AB1E5'; this.style.fontWeight='900'; this.style.transform='scale(1.03)';"
         onmouseout="this.style.background='#D9D9D9'; this.style.color='#000'; this.style.fontWeight='400'; this.style.transform='scale(1)';">Bases del Concurso</a>
    </div>
  </div> 
    <!-- Mobile Layout -->
  <div class="md:hidden flex flex-col items-center text-center">
    
    <div class="w-full h-auto mb-6">
      <img src="/bg_concurso_mobile.svg" alt="Concurso Trabajos Libres" class="w-full object-cover">
    </div>

    <h2 class="text-2xl font-regular mb-4 text-gray-800">Concurso de Trabajos Libres:</h2>
    
    <div class="flex flex-col items-center gap-2 mb-8">
      <div class="bg-gray-100 rounded-full px-6 py-1 w-fit">
        <span class="bg-gradient-concurso bg-clip-text text-transparent font-extrabold italic text-2xl">Prevención de</span>
      </div>
      <div class="bg-gray-100 rounded-full px-6 py-1 w-fit">
        <span class="bg-gradient-concurso bg-clip-text text-transparent font-extrabold italic text-2xl">escaras e infecciones</span>
      </div>
      <div class="bg-gray-100 rounded-full px-6 py-1 w-fit">
        <span class="bg-gradient-concurso bg-clip-text text-transparent font-extrabold italic text-2xl">de heridas</span>
      </div>
    </div>   

    <div class="flex flex-col gap-4 w-full max-w-[280px]">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7eKjd95ZBHlT3GroRk2lhezZS7Y_STZHOnA5Q8VNDtYKHYg/viewform?usp=sharing&ouid=108928240711952588233" 
         style="background: #0AB1E5; color: #000; display: flex; align-items: center; justify-content: center; height: 44px; border-radius: 32px; text-decoration: none; font-weight: 400; font-size: 16px; transition: all 0.3s ease;"
         onmouseover="this.style.background='#1D5168'; this.style.color='#fff'; this.style.fontWeight='900';"
         onmouseout="this.style.background='#0AB1E5'; this.style.color='#000'; this.style.fontWeight='400';">Registro concurso</a>

      <a href="https://docs.google.com/document/d/1SnlxwnpopZM9UVwbhURhBPzo0z690vXG/edit" 
         style="background: #D9D9D9; color: #000; display: flex; align-items: center; justify-content: center; height: 44px; border-radius: 32px; text-decoration: none; font-weight: 400; font-size: 16px; transition: all 0.3s ease;"
         onmouseover="this.style.background='#D9D9D9'; this.style.color='#0AB1E5'; this.style.fontWeight='900';"
         onmouseout="this.style.background='#D9D9D9'; this.style.color='#000'; this.style.fontWeight='400';">Bases del Concurso</a>
    </div>
 <!-- Fin Mobile Layout -->
  </div>
  </section>