---
import { Image } from "astro:assets";

import Button from "../Button.astro";

//const sectionStyles = `landing-section bg-purple h-screen w-screen text-center overflow-hidden overflow-y-hidden relative`;
const sectionStyles = `landing-section bg-bg-white w-screen flex items-center justify-center pt-16 px-8 relative`;
---

<section
  class="relative w-full overflow-hidden py-10 px-6 md:px-12 min-h-[450px] bg-white
         bg-[url('/bg_concurso_2026.svg')] bg-no-repeat
         bg-[length:auto_100%] bg-right
         md:bg-cover md:bg-center"
>
  
  <div class="flex flex-col gap-6">
    <h2 class="text-3xl font-bold text-gray-800">
      Concurso de Trabajos Libres: <br>
      <span class="text-blue-600">Prevención de escaras e infecciones de heridas</span>
    </h2>
    
    <div class="flex flex-col sm:flex-row gap-4">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7eKjd95ZBHlT3GroRk2lhezZS7Y_STZHOnA5Q8VNDtYKHYg/viewform?usp=sharing&ouid=108928240711952588233" class="btn-registro-concurso">Registro concurso</a>
    </div>
    <div class="flex flex-col sm:flex-row gap-4">
      <a href="https://docs.google.com/document/d/1SnlxwnpopZM9UVwbhURhBPzo0z690vXG/edit" class="btn-bases-concurso">Bases del Concurso</a>
    </div>

  </div>

</section>