  ---
  import { Image } from "astro:assets";
  import Button from "../Button.astro";

  //const sectionStyles = `landing-section bg-purple h-screen w-screen text-center overflow-hidden overflow-y-hidden relative`;
  const sectionStyles = `landing-section bg-bg-white w-screen flex items-center justify-center pt-16 px-8 relative`;
  ---

  
<!-- <section class="relative w-full overflow-hidden py-10 px-6 md:px-12 min-h-[450px] bg-white">-->

<section class="relative w-full overflow-hidden py-10 px-6 md:px-12 min-h-[450px] bg-white
          md:bg-[url('/bg_concurso_2026.svg')] md:bg-no-repeat 
          md:bg-[length:auto_100%] md:bg-right">

  <div class="hidden md:block">
     <h2 class="text-3xl font-bold text-gray-800">Concurso de Trabajos Libres:<br></h2>
    <h2> <div class="flex flex-row gap-4 bg-gradient-concurso bg-clip-text text-transparent"> Prevención de escaras e infecciones de heridas</div></h2>
  </div>
     
     <div class="hidden md:block flex flex-row gap-4 w-full justify-start items-center">

        <a href="..." class="luma-checkout--button">Registro concurso</a>
        <a href="..." class="luma-checkout--button">Bases del Concurso</a>
     </div>
  </div>

  <div class="md:hidden">
     <div class="w-full h-auto mb-6">
        <img src="/bg_concurso_mobile.svg" alt="Concurso Trabajos Libres" class="w-full object-cover">
     </div>

     <div class="px-6 text-center">
        <h2 class="text-2xl font-bold mb-6">
           Concurso de Trabajos Libres:<br>
           <span class="bg-gradient-concurso bg-clip-text text-transparent">
             Prevención de escaras e infecciones de heridas
           </span>
        </h2>

        <div class="flex flex-col gap-4 w-full max-w-[280px] mx-auto">
           <a href="..." class="btn-registro-mobile">Registro concurso</a>
           <a href="..." class="btn-bases-mobile">Bases del Concurso</a>
        </div>
     </div>
  </div>

</section>