---
import { Image } from "astro:assets";
import BGConcurso from "../../assets/bg_concurso_2026.svg";
import BGConcursoM from "../../assets/bg_concurso_2026.svg";
import Button from "../Button.astro";

//const sectionStyles = `landing-section bg-purple h-screen w-screen text-center overflow-hidden overflow-y-hidden relative`;
const sectionStyles = `landing-section bg-bg-white w-screen flex items-center justify-center pt-16 px-8 relative`;
---

<section class="max-w-6xl mx-auto py-16 px-6 grid md:grid-cols-2 gap-12 items-center">
  
  <div class="flex flex-col gap-6">
    <h2 class="text-3xl font-bold text-gray-800">
      Concurso de Trabajos Libres: <br>
      <span class="text-blue-600">Prevención de escaras e infecciones de heridas</span>
    </h2>
    
    <div class="flex flex-col sm:flex-row gap-4">
      <a href="/registro-concurso" class="btn-registro-concurso">Registro concurso</a>
      <a href="/bases-concurso" class="btn-bases-concurso">Bases del Concurso</a>
    </div>
  </div>

  <div class="rounded-2xl overflow-hidden shadow-lg">
    <img src="/ruta-a-tu-imagen-concurso.jpg" alt="Concurso Heridas" class="w-full h-auto">
  </div>
</section>