---
import GalleryIsland from "../islands/GalleryIsland";

const imageItems = [
    {
        url: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113014/panel_22.jpg",
        alt: "Panel del Foro",
        urlBig: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113014/panel_22.jpg",
    },
    {
        url: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113015/ceremonia_apertura1.jpg",
        alt: "Ceremonia de apertura del foro",
        urlBig: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113015/ceremonia_apertura1.jpg",
    },
    {
        url: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113015/auditorio.jpg",
        alt: "Auditorio del foro",
        urlBig: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113015/auditorio.jpg",
    },
    {
        url: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113015/ASP4.jpg",
        alt: "Aspectos del foro 1",
        urlBig: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113015/ASP4.jpg",
    },
    {
        url: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113015/ASP1.jpg",
        alt: "Aspectos del foro 2",
        urlBig: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113015/ASP1.jpg",
    },
    {
        url: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113495/enfermeria.jpg",
        alt: "Aspectos del foro 3",
        urlBig: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113495/enfermeria.jpg",
    },   
    {
        url: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113015/aspectos6.jpg",
        alt: "Aspectos del foro 4",
        urlBig: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113015/aspectos6.jpg",
    },   
    {
        url: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113016/aspectos5.jpg",
        alt: "Aspectos del foro 5",
        urlBig: "https://res.cloudinary.com/dokvwbz1c/image/upload/v1778113016/aspectos5.jpg",
    },   
    
    /*
{
    url: "",
    alt: "",
    urlBig: ""
    },
  {
    url: "",
    alt: "",
    urlBig: ""
  }, */
];

const sectionStyles = `landing-section bg-blue-light h-auto w-full pt-16 pb-24 md:pb-20 relative`;
---

<!-- Sección    Galería -->
<section class={sectionStyles} data-header-color={`white`} id="galeria">
    <div class="container mx-auto px-6 md:px-0">
        <h2
            id="speakers-title"
            class="text-blue-text text-4xl font-bold text-center mt-20 md:mt-10 mb-10">
            Galería
        </h2>
       <div class="mb-16 md:mb-0"> <GalleryIsland client:load imageItems={imageItems} />
    </div>
    </div>
</section>
