---
import GalleryIsland from "../islands/GalleryIsland";

const imageItems = [
    {
        url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752877798/galery_001_min_ouzbxi.webp",
        alt: "Imagen de la galería 1",
        urlBig: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752877799/galery_001_ap3j3z.webp",
    },
    {
        url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752877791/galery_002_min_sbsl2o.webp",
        alt: "Imagen de la galería 2",
        urlBig: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752877792/galery_002_i8xbpl.webp",
    },
    {
        url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752878526/Mtra.-Patricia-UNAM_min_vbw19d.webp",
        alt: "Imagen de la Mtra. Patricia UNAM",
        urlBig: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752878526/Mtra.-Patricia-UNAM_geavcw.webp",
    },
    {
        url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752878567/galery_003_min_dsjfgn.webp",
        alt: "Imagen de la galería 3",
        urlBig: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752878569/galery_003_hchy1k.webp",
    },

    {
        url: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752879170/panel-transparenciaQA_min_hybkgw.webp",
        alt: "Imagen del panel de transparencia QA",
        urlBig: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752879172/panel-transparenciaQA_jpxvn1.webp",
    },
    
    /*
{
    url: "",
    alt: "",
    urlBig: ""
    },
  {
    url: "",
    alt: "",
    urlBig: ""
  }, */
];

const sectionStyles = `landing-section bg-white w-full py-4 px-4 relative`;
---

<!-- <section aria-labelledby="speakers-title" class="py-16 bg-white"> -->
<section class={sectionStyles} data-header-color={`white`} id="galeria">
    <div class="container mx-auto px-0">
        <h2
            id="speakers-title"
            class="text-blue-text text-4xl font-bold text-center mt-20 md:mt-10 mb-8">
            Galería
        </h2>
        <GalleryIsland client:only="react" imageItems={imageItems} />
    </div>
</section>
