---
// SpeakersPaginated.astro
const speakers = [
  { src: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861847/speaker_santiago_march_csvoed.webp", alt: "Santiago March" },
  { src: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861847/speakerr_roxana_trejo_forhdu.webp", alt: "Roxana Trejo" },
  { src: "https://res.cloudinary.com/difrqz0ke/image/upload/v1752861847/speaker_maribel_ramirez_yavpyb.webp", alt: "Maribel Ramírez" },
];

// Una Sola Fila
const mitad = Math.ceil(speakers.length / 1);
const filaUno = speakers.slice(0, mitad);
---

<section class="w-full py-10 overflow-hidden bg-white" id="speakers">
  <h2 class="text-center text-2xl font-bold uppercase tracking-widest text-[#204356] mb-8">
    Speakers
  </h2>

  <!-- Fila 1: izquierda → -->
  <div class="relative flex overflow-hidden mb-6 [mask-image:linear-gradient(to_right,transparent,white_10%,white_90%,transparent)]">
    <div class="marquee-row marquee-left flex gap-12 w-max">
      {[...filaUno, ...filaUno].map((logo) => (
        <div class="flex-shrink-0 flex items-center justify-center h-32 w-52">
          <img src={logo.src} alt={logo.alt} class="h-30 w-auto max-w-[120px] object-contain hover:scale-110 transition-all duration-300" loading="lazy" />
        </div>
      ))}
    </div>
  </div>

</section>

<style>
  .marquee-row {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .marquee-left {
    animation-name: scrollLeft;
    animation-duration: 30s;
  }

  .marquee-right {
    animation-name: scrollRight;
    animation-duration: 30s;
  }

  @keyframes scrollLeft {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  @keyframes scrollRight {
    0%   { transform: translateX(-50%); }
    100% { transform: translateX(0); }
  }

  /* Pausa al hacer hover sobre toda la sección */
  section:hover .marquee-row {
    animation-play-state: paused;
  }
</style>