---
import { Image } from "astro:assets";
import logoHSI from "../../assets/Logo-HSI-01-768x734.png";
import VIForoHsi from "../assets/VIForo2026.svg";
import heroLogoMobile from "../../assets/hero-logo-mobile-min.png";
---
    <!-- Fondo Agenda -->
  <div
    class="absolute inset-0 z-0 bg-no-repeat bg-cover bg-center pointer-events-none"
    style="background-image: url('/bg_portada_agenda.png');"
    aria-hidden="true">
</div>
<div class="flex w-full justify-center gap-8">
   <Image
        src={VIForoHsi}
        width={177}
        height={190}
        alt="VI Foro 2026"
        loading="lazy"
        class="min-w-[84px] w-[84px] h-[64px]"/>
    <div>
        <h2 class="text-5xl text-blue-text md:text-6xl mb-8">Agenda</h2>
        <h3 class="text-5xl md:text-6xl font-black text-transparent font-black uppercase leading-none mb-8">
        <span class="text-6xl block bg-gradient-to-r from-gradient-start via-gradient-center to-gradient-end bg-clip-text text-transparent font-black uppercase leading-none">VI</span>
        <span class="text-6xl block bg-gradient-to-r from-gradient-start via-gradient-center to-gradient-end bg-clip-text text-transparent font-black uppercase leading-none">Foro</span> 
        <span class="text-6xl block bg-gradient-to-r from-gradient-start via-gradient-center to-gradient-end bg-clip-text text-transparent font-black uppercase leading-none">2026</span>
        </h3>
        <p class="text-2xl tracking-wider font-bold text-blue-text mt-2">
            25 Y 26 DE Agosto, 2026
        </p>
        <p class="text-blue-text text-xl font-normal tracking-widest mt-1">
            SEDE |Auditorio del <strong class="font-extrabold">Hospital Médica Sur</strong>        
        </p>
      <!-- Línea ondulada decorativa -->
       <br>
            <img src="/wave-line.svg" alt="" class="w-100 opacity-50" aria-hidden="true" />

    </div>
    <Image
        src={heroLogoMobile}
        width={289}
        height={105}
        alt="Logotipo principal del Foro HSI para dispositivos móviles"
        loading="lazy"
        class="hidden md:block"
    />
    <Image
        src={logoHSI}
        width={69}
        height={65}
        alt="Logotipo institucional HSI"
        loading="lazy"
        class="hidden md:block w-[69px] h-[65px]"
    />
</div>
