---
import { Image } from "astro:assets";
import logoHSI from "../../assets/Logo-HSI-01-768x734.png";
import VIForo from "../../assets/VIForo2026.svg";
import heroLogoMobile from "../../assets/hero-logo-mobile-min.png";
---

<div class="flex w-full justify-center gap-8">
    <Image
        src={VIForo}
        width={177}
        height={190}
        alt="Logotipo del evento VI Foro HSI 2026"
        loading="lazy"
        class="min-w-[84px] w-[84px] h-[64px]"
    />
    <div>
        <h2 class="text-5xl md:text-6xl mb-8">Agenda</h2>
        <h3 class="text-black-text text-3xl md:text-6xl font-black uppercase">
            <span class="text-4xl md:text-7xl">VI </span>Foro 2026
        </h3>
        <p class="text-2xl tracking-wider font-bold text-black-text mt-2">
            25 Y 26 DE Agosto, 2026
        </p>
        <p class="text-black-text text-xl font-normal tracking-widest mt-1">
            SEDE |Auditorio del <strong class="font-extrabold"
                >Hospital Médica Sur</strong
            >
        </p>
        <div
            class="h-1 w-full mt-2 rounded-full bg-gradient-to-r from-gradient-start via-gradient-center to-gradient-end"
        >
        </div>
    </div>
    <Image
        src={heroLogoMobile}
        width={289}
        height={105}
        alt="Logotipo principal del Foro HSI para dispositivos móviles"
        loading="lazy"
        class="hidden md:block"
    />
    <Image
        src={logoHSI}
        width={69}
        height={65}
        alt="Logotipo institucional HSI"
        loading="lazy"
        class="hidden md:block w-[69px] h-[65px]"
    />
</div>
