---
import { Image } from "astro:assets";
import logoHSI from "../../assets/Logo-HSI-01-768x734.png";
import VIForo from "../../assets/VIForo2026.svg";
import heroLogoMobile from "../../assets/hero-logo-mobile-min.png";
---

<div class="flex w-full justify-center gap-8">
    <Image
      src={VIForo}
      alt="VI Foro"
      class="h-32 w-32"
      width={236}
      height={253}
      loading="lazy"
      decoding="async"
      format="svg"
      quality={80}
    />
    <div>
        <h3 class="text-5xl text-blue-text md:text-6xl mb-8">AGENDA</h3>
        <h2 class="text-blue-text text-3xl md:text-6xl font-normal">
            <span class="text-3xl md:text-6xl">Preliminar</span>
        </h2>
       <p class="text-3xl font-black text-blue-text tracking-wide text-justify">
    27 Y 28 DE AGOSTO, 2026
  </p>
 <!-- Sede + línea ondulada decorativa -->
  <div class="flex flex-col items-justify w-full">
    <p class="text-gray-700 text-lg font-normal tracking-widest text-justify text-blue-text">
      SEDE | <strong class="font-extrabold">Auditorio Médica Sur</strong>
    </p>
    <br>
   <img src="/wave-line.svg" alt="" class="w-[142px] md:w-[300px]" aria-hidden="true" />
  </div>

    <Image
        src={heroLogoMobile}
        width={289}
        height={105}
        alt="Logotipo principal del Foro HSI para dispositivos móviles"
        loading="lazy"
        class="hidden md:block"
    />
    <Image
        src={logoHSI}
        width={69}
        height={65}
        alt="Logotipo institucional HSI"
        loading="lazy"
        class="hidden md:block w-[69px] h-[65px]"
    />
</div>
