---
import { Image } from "astro:assets";
import logoHSI from "../assets/Logo-HSI-01-768x734.png";
import VIForo from "../assets/VIForo2026.svg";
import heroLogoMobile from "../assets/hero-logo-mobile-min.png";
import msLogoMedicaSur from "../assets/medica-sur.svg";
---
<section class="relative w-full bg-white overflow-hidden py-12 px-6 md:px-12 min-h-[450px] flex items-center">
<div class="flex w-full justify-center gap-8">
    <Image
        src={VIForo}
        width={182}
        height={164}
        alt="LogoVI Foro"
        loading="lazy"
        class="min-w-[182px] w-[236px] h-[253px]"
    />
    <div>
        <h1 class="text-blue-text text-5xl md:text-6xl font-bold">AGENDA</h1>
        <h2 class="text-blue-text text-3xl md:text-3xl font-regular">
            <span class="text-3xl md:text-3xl">PRELIMINAR</span>
        </h2>
        <p class="text-blue-text text-2xl tracking-wider font-bold mt-2">
            25 Y 26 DE Agosto, 2026
        </p>
        <p class="text-blue-text text-xl font-normal tracking-widest mt-1">
            SEDE |Auditorio del <strong class="font-extrabold"
                >Hospital Médica Sur</strong
            >
        </p>

        <div>
            <img src="/wave-line.svg" alt="" class="w-[150px] md:w-[300px]" aria-hidden="true" />
        <br >
             <!-- MédicaSur logo + texto institucional -->
  <div class="flex items-center gap-2 mt-2">
    <Image
      src={msLogoMedicaSur}
      alt="Médica Sur"
      class="h-12 w-auto"
      width={224.6}
      height={52}
      loading="lazy"
      format="svg"
      quality={80}
    />
                 <!-- Separador vertical -->
            <div class="w-px h-14 bg-gray-400"></div>
            <!-- Texto institucional -->
             <p class="font-bold text-blue-text italic text-base leading-snug text-justify max-w-[280px]">
                Institución sede comprometida<br/>con el combate a las infecciones
    </p>

         </div>
        </div>
    </div>
    <Image
        src={heroLogoMobile}
        width={289}
        height={105}
        alt="Doctores"
        loading="lazy"
        class="hidden md:block"
    />
    <Image
        src={logoHSI}
        width={69}
        height={65}
        alt="HSI"
        loading="lazy"
        class="hidden md:block w-[69px] h-[65px]"
    />
</div>
</section>