---
import { Image } from "astro:assets";
import logoHSI from "../../assets/Logo-HSI-01-768x734.png";
import VIForoHsi from "../assets/VIForo2026.svg";
import heroLogoMobile from "../../assets/hero-logo-mobile-min.png";
---

    <!-- Fondo del home -->
  <div
    class="absolute inset-0 z-0 bg-no-repeat bg-cover bg-center pointer-events-none"
    style="background-image: url('/bg_agenda.png');"
    aria-hidden="true"
  ></div>
 